/* Animations */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
}

@keyframes idlePlayer {
    to { transform: translatey(20px);}
}

@keyframes idleCPU {
    to { transform: translatey(20px) scaleX(-1);}
}

@keyframes takeDMGPlayer {
    50% { transform: rotate(-5deg); filter: invert(100%);  }
}

@keyframes takeDMGCPU {
    50% { transform: rotate(5deg) scaleX(-1); filter: invert(100%);  }
}

@keyframes textAni {
    100% {filter: invert(100%); }
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #a0a08b;
    font-family: 'Press Start 2P', cursive;
    width: 75%;
    margin: auto;
}

#scoreBoard{
    display: flex;
    justify-content: space-around;
    height: 20%;
}

#matchHistory {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: flex-end;
    width: 20%;
    height: 175px;
}

#matchHistory img{
    width: 13%;
    height: auto;
    opacity: 30%;
}

#matchHistory div{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0;
}

#player{
    display: flex;
    width: 20%; 
}

#playerProfile{
    width: 40%;
    height: auto;
    align-self: flex-start;
    float: left;
    margin: 0% 3%;
}

#playerHP{
    margin: 0.3%;
    width: 70%;
    height: auto;
}

.hpBar img{
    width: 15%;
    height: auto;
    margin: 1 1%;
}

#gameStatus{
    text-align: center;
    animation: textAni 1.5s alternate infinite ease-in-out
}

#computer{
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    text-align: right;
}

#CPUProfile{
    width: 40%;
    height: auto;
    align-self: flex-start;
    margin: 0% 3%;
}

#cpuHP{
    margin: 0.3%;
    width: 70%;
    height: auto;
}

#moves{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerMove{
    animation: idlePlayer 1.5s alternate infinite ease-in-out;
}

#cpuMove{
    transform: scaleX(-1);
    animation: idleCPU 1.5s alternate infinite ease-in-out;
}


#pushButtons{
    display: flex;
    justify-content: center;
}


.button:hover {
    -webkit-filter: drop-shadow(0 50px 0 #211e20), brightness(90%);
    filter: drop-shadow(0px 50px 0px #211e20);
}

.button:active {
    transform: translateY(30px);
    -webkit-filter: drop-shadow(0 20px 0 #211e20);
    filter: drop-shadow(0px 20px 0px #211e20);
}

.button{
    -webkit-filter: drop-shadow(0 50px 0 #211e20);
    filter: drop-shadow(0px 50px 0px #211e20);
    margin: 5% 1%;
    
}


#gameoverScreen{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Assets/youwin.png);
    background-size: auto;
    background-color: rgba(0, 0, 0, 0.26);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    position: fixed;
    color: white;
    display: none;
    z-index : -1;  
}

#gameoverWindow{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-size: 200%;
    background-color: rgba(0, 0, 0, 0.26);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

#playAgainButton{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
    color: #e9efec;
    margin: 3%;
}

#playAgainButton:hover{
    color: #211e20;
    animation: none;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555568;
    color: #211e20;
    text-align: right;
    font-size: 10px;
}

footer h1{
    margin: .5% 2%;
}